
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
@font-face {
    font-family: sot;
    src: url(./fonts/Windlass.ttf);
  }
span{
    color: white;
    padding-left: 20px;
}
.timer{
    color: white;
    margin-bottom: 5%;
    margin-top: 5%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
}
table{
    /* padding-top: 20%; */
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family:'sot';
    font-size:34px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

@keyframes example {
    0%   {background-color:white; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
body{
    background-color: rgb(105, 103, 103);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
footer{
    text-align: center;
    display: block;
    margin-top: 2%;
}

img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }