
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
@font-face {
    font-family: sot;
    src: url(./fonts/Windlass.ttf);
  }
span{
    
    padding-left: 20px;
}
.timer{
    
    margin-bottom: 5%;
    margin-top: 5%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
}
table{
    /* padding-top: 20%; */
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family:'sot';
    font-size:34px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


body{
    background-color: rgb(105, 103, 103);
    
}
footer{
    text-align: center;
    display: block;
    margin-top: 2%;
}

img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }